/*header css and global elements*/

css_selector {
  css-property: css-value;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-base: #172815;
  --bg-card: #3e5622;
  --main-color: #709255;
  --border-outline: #95b46a;
  --accent: #83781b;
  --text: #8b8f58;
  --text-mute: #dcdcdc;
  --main-color-hover: #708100;
  --font-family: "times new roman";
  --transition-speed: 0.2s;
  --bg-second: #031a00;
  --title-color: #4b7e44;
}

html {
  scroll-behavior: auto;
  font-family: var(--font-family);
  background-color: var(--bg-base);
  color: var(--text);
  line-height: 1.4;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  border-radius: 6px;
  border: 1px solid var(--transition-speed);
  color: var(--text);
}

.title-co {
  color: var(--title-color);
}

.logo {
  width: 45px;
  height: auto;
  align-items: center;
  margin-top: 1rem;
}
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000000000;
  background-color: var(--bg-second);
  border-bottom: 2px solid;
  border-color: var(--border-outline);
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem 1 rem 3rem 1.5rem;
  max-width: 900px;
}

/*part 2 cards*/

.grid-features {
  display: inline-flex;
  grid-template-columns:
    repeat auto-fit,
    minmax(280px, 1fr);
  gap: 1.5rem;
}

.card-features {
  background-color: var(--bg-card);
  border: 2px solid var(--border-outline);
  padding: 2rem;
  border-radius: 8px;
  margin-top: 2rem;
}

.feature-header {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/*part 3 pricing*/

.card-for-prices {
  background-color: var(--bg-card);
  border: 2px solid var (var(--border-outline));
  display: flex;
  flex-direction: column;
}

/*part 4 footer*/

.footer-section {
  border-top: 0.5px solid var(--border-outline);
  padding: 1rem 2rem;
  margin-top: 4rem;
  color: var(--text);
}

.container-for-footer {
  max-width: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-mute);
}

.btn:hover {
  color: var(--text-mute);
}
